*{
    margin: 0;
    padding: 0;
    font-family: 'Mitr';
}
body{
    min-height: 100vh;
    background: linear-gradient(#000259,#020a39);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background-color: #218380;
    position:fixed;
    z-index: 1;
    height: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
header .logo{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.all {
    margin: 15px;
    border: 10px double #000000;
    padding-bottom: 500px;
}



ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.card:hover {
    background-color: #fff9c6;
  
}

.card {
    text-align: center;
    width: 350px;
    margin: 15px;
    margin-left: 55px;
    margin-top: 10px;
    padding: 15px;
    padding-right: 15px;
    box-shadow: 10px 10px 30px;
    border: 4px dashed black;
    
    background-color: #ffffff;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.name {
    font-size: 32px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.top2 {
    font-size: 32px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.top3 {
    font-size: 32px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.card img {
    width: 300px;
    border-radius: 15px;
}

.card .detail {
    overflow-y: scroll;

    height: 150px;
    font-family: 'Mitr', sans-serif;
}

.card .so {
    font-family: 'Kanit', sans-serif;
    overflow-y: scroll;

    height: 200px;
    font-family: 'Mitr', sans-serif;
    overflow-x: hidden;
}

a {
    margin-top: 25px;
    margin-bottom: 6px;

}
.naname{
    margin: 100px;
    font-size: 64px;
    text-align: center;
    color: #ffffff;
    
}